<html>
    <head>
        <title>BADGE MATE</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="icon" href="/imgs/badge.ico" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="/css/badgepack.css" />
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <div>
                <a class="navbar-brand" href="/<%= user_id %>/dashboard">BADGE MATE</a>
            </div>
            
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/<%= user_id %>/badgepack">BADGEPACK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/<%= user_id %>/earnbadge">EARN BADGES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/<%= user_id %>/issuer">ISSUE BADGES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section  id="event-section" class="event-section">
            <h3 class="my-3">My badges</h3>
            <div class="theme-cards">
                <% foundBadges.forEach(badge => { %>
                  
                        <div class="theme-card ">
                      
                            <h5 class="card-title"><%= badge.name %></h5>
                            <img src="data:image/<%=badge.image.contentType%>;base64,<%=badge.image.data.toString('base64')%>" style="width:50px; height: 50px;">
                            <ul style="list-style-type: none;">
                                <li>Issuer : <%= badge.issuer %> </li>
                                <li>Value : <%= badge.value %></li>
                                <li>Description : <%= badge.description %></li>
                                <li>Issue Date : <%= badge.issueDate %></li>
                                <li>Remark : <%= badge.remark %></li>
                            </ul>
                            <form method="GET" action="/<%= badge._id %>/share">
                                <input type="submit" value="Share" class="btn btn-outline-primary" />
                            </form>
                            <form method="POST" action="/<%= user_id %>/<%= badge._id %>/delete">
                                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                            </form>
                        </div>
                    
                <% }); %> 
       
        </div>


        <h3 class="my-3">My certificates</h3>
        <div class="theme-cards">
            <% foundCertificate.forEach(certificate => { %>
              
                    <div class="theme-card ">
                  
                        <h5 class="card-title"><%= certificate.issuer %></h5>
                        <ul style="list-style-type: none;">
                            <li>Name : <%= certificate.name %> </li>
                            <li>Description : <%= certificate.description %></li>
                            <li>creation Date : <%= certificate.creationDate %></li>
                            <li>Verification: <%=certificate.verified%></li>

                            <a href="<%= certificate.url %>" class="btn btn-outline-primary"> Verification URL</a>
                        </ul>
                        <a href="#" class="btn btn-outline-primary">Share</a>
                        <form method="POST" action="/<%= user_id %>/<%= certificate._id %>/remove">
                            <input type="submit" value="Delete" class="btn btn-outline-danger" />
                        </form>
                    </div>
                
            <% }); %> 
   
    </div>
      </section>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>

