<html>
    <head>
        <title>BADGE MATE</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="icon" href="/imgs/badge.ico" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="/css/badgepack.css" />
        
    </head>
    <body>
        <section  id="event-section" class="event-section">
            <h3 class="my-3">My badge</h3>
            <h3 class="my-3">Copy this URL for sharing</h3>
            <div class="theme-cards">
                  
                        <div class="theme-card ">
                      
                            <h5 class="card-title"><%= badge.name %></h5>
                            <img src="data:image/<%=badge.image.contentType%>;base64,<%=badge.image.data.toString('base64')%>" style="width:50px; height: 50px;">
                            <ul style="list-style-type: none;">
                                <li>Issuer : <%= badge.issuer %> </li>
                                <li>Value : <%= badge.value %></li>
                                <li>Description : <%= badge.description %></li>
                                <li>Issue Date : <%= badge.issueDate %></li>
                                <li>Remark : <%= badge.remark %></li>
                            </ul>
                        </div>
            </div>
    </div>
      </section>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>

